@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto';
}

#title {
    text-align: center;
    font-weight: 600;
}

#input-area {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 50px auto 0 auto;
}

#max-number {
    height: 2em;
    border-radius: 10px;
    border: 2px solid #787878;
    padding: 7px;
    margin-top: 20px;
}

#max-number:focus {
    border: 2px solid #000000;
    outline: none;
}

#random-button {
    background-color: #78b868;
    border: 0px;
    padding: 20px;
    font-size: 1.3em;
    border-radius: 10px;
    color: #FFFFFF;
    box-shadow: 0px 5px #999999;
    font-weight: 600;
    margin-top: 20px;
}

#random-button:hover {
    background-color: #7cbe6b;
}

#random-button:active {
    background-color: #7cbe6b;
    transform: translateY(4px);
    box-shadow: 0px 1px #999999;
}

#numbers-area {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: inset 0 0 3px #787878;
    margin-top: 20px;
}

#current-number-area {
    margin: 10px;
    text-align: center;
}

.random-number {
    background-color: #7cbe6b;
    padding: 10px;
    border-radius: 50%;
    color: #FFFFFF;
    margin-left: 15px;
}

#current-number {
    font-size: 2.5em;
    background-color: #7cbe6b;
    padding: 20px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: .4;
}

#random-area {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 5px 15px #787878;
    border-radius: 30px;
    padding: 30px;
    margin-top: 20px;
}

#numbers-area::-webkit-scrollbar {
    display: none;
}

.clear-res {
    cursor: pointer;
    color: #7cbe6b;
}